h6.project-Name {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.3px;
}

.w-135 {
    width: 135px !important;
}

.w-90 {
    width: 90px !important;
}

.w-15 {
    width: 15px !important;
}

.divider {
    height: 3px;
    background-color: #5AC6C6;
}