.EMS-Breadcumbs {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.EMS-Breadcumbs-Ul {
    border: none !important;
    .EMS-defaulat-link {
        color: #000000 !important;
        text-decoration: none !important;
    }
}