@import '../../styles.scss';
.page-body-wrapper {
    padding-top: 0 !important;
}

.card-title {
    font-family: $type-2;
    font-weight: 600;
    color: #156BA3;
    margin-bottom: 22px;
    font-size: 25px!important;
    text-transform: capitalize;
    .rtl & {
        text-align: right;
    }
}