<div class="container-fluid page-body-wrapper h-100">
    <div class="main-panel w-100 pl-0">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="HR-Management-login">
                    <div class="mb-4">
                        <a href=""><img src="assets/images/ems_logo.png" class="img-fluid mx-auto d-block"></a>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-4 col-10 d-flex align-items-stretch grid-margin">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin">
                                    <div class="card border-custom-main">
                                        <div class="card-body border-custom-sub">
                                            <h4 class="card-title">Set Password</h4>
                                            <!-- <p class="card-description">
                                                Basic form layout
                                            </p> -->
                                            <form class="forms-sample" #spf="ngForm" (ngSubmit)="onSubmit(spf.value)" id="frmLogin">
                                                <div class="form-group">
                                                    <label for="email">Email address</label>
                                                    <input type="email" class="form-control" id="email" name="email" disabled placeholder="Enter email" #email="ngModel" required ngModel="{{emailId}}" />
                                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger">
                                                        <div *ngIf="email.errors.required">Please enter valid Email Address.</div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" #password="ngModel" minlength="8" required ngModel pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,}$" />
                                                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-danger">
                                                        <div *ngIf="password.errors.required" class="alert alert-danger p-2" role="alert">Please enter password.</div>
                                                        <div *ngIf="password.errors.minlength" class="alert alert-danger p-2" role="alert">Password must be at least 8 characters long.</div>
                                                        <div *ngIf="password.errors.pattern && !password.errors.minlength" class="alert alert-danger p-2" role="alert">Password must contain at list one letter and one digit.</div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cnpassword">Confirm Password</label>
                                                    <input type="password" class="form-control" id="cnpassword" name="cnpassword" placeholder="Enter confirm password" #cnpassword="ngModel" required ngModel pattern="{{ password.value }}" />
                                                    <div *ngIf="cnpassword.invalid && (cnpassword.dirty || cnpassword.touched)" class="alert-danger">
                                                        <div *ngIf="cnpassword.errors.required" class="alert alert-danger p-2" role="alert">Please enter confirm password.</div>
                                                        <div *ngIf="cnpassword.errors.pattern && cnpassword.value != ''" class="alert alert-danger p-2" role="alert">
                                                            Confirm password must be same as password.
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" [disabled]="!spf.form.valid" class="btn btn-success mr-2">SIGN IN</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>