<div class="container-fluid page-body-wrapper h-100">
  <div class="main-panel w-100 pl-0">
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="HR-Management-login">
          <div class="mb-4">
            <a href=""><img src="assets/images/ems_new_logo.svg" class="img-fluid mx-auto d-block"></a>
          </div>
          <div class="row justify-content-center mx-0">
            <div class="col-md-6 col-lg-4 col-10 d-flex align-items-stretch grid-margin">
              <div class="row flex-grow">
                <div class="col-12 grid-margin">
                  <div class="card border-custom-main">
                    <div class="card-body border-custom-sub">
                      <h4 class="card-title">Forgot Password</h4>
                      <form class="forgot-password" #f="ngForm" (ngSubmit)="onSubmit(f.value)" id="frmForgotPassword">
                        <div class="form-group">
                          <label for="email">Email address</label>
                          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                            #email="ngModel" required ngModel />
                          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger">
                            <div *ngIf="email.errors.required" class="alert alert-danger p-2" role="alert">Please enter
                              valid Email Address.</div>
                          </div>
                        </div>
                        <button type="submit" [disabled]="!f.form.valid" class="btn btn-success mr-2">Forgot
                          Password</button>
                        <a routerLink="/login" class="general-custom-link">Back to login</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>