<app-navbar></app-navbar>
<div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel w-100">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body table-background">
                            <h2 class="card-title Event-Calendar">Event Calendar</h2>
                            <full-calendar defaultView="dayGridMonth" displayEventTime="false" [plugins]="calendarPlugins" [showNonCurrentDates]="false" [fixedWeekCount]="false" [weekends]="true" [events]="event">
                            </full-calendar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>